$black: #000;
$dark-grey: #141516;
$medium-grey: #242526;

$white: #FFFFFF;
$lighter-grey: #EEF0F0;
$light-grey: #E6E8E8;

$primary-blue: #2DC7ED;
$light-blue: #3ACDF1;
$medium-blue: #26B7DB;

$linear-details: linear(to right, rgba(44, 149, 246, 1), rgba(83, 139, 240, .2))


