header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem;
}

// --- hero-container ---- //
.container-content {
    width: 70vw;
    margin: 0 auto;

    padding: 5rem 1rem;
    display: flex;

    justify-content: center;
    align-items: center;
}

.container-content .container-presentation h1 {
    font-weight: 500;
    font-size: 5.7rem;

    margin: 10px 0 10px 30px;
}

.container-content .container-presentation h2,
.container-content .container-presentation h3 {
    color: $primary-blue;
    font-size: 2.4rem;
}

.container-content .container-presentation h2 {
    line-height: 35px;

}

.container-content .container-presentation .h2-line1 {
    padding-left: 10rem;
}

.container-content .container-presentation .h2-line2 {
    padding-left: 22rem;
}

.container-image img {
    max-width: 75%;
}

.container-content .container-item:nth-child(1) {
    flex-grow: 40;
}

.container-content .container-item:nth-child(2) {
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    img {
        max-width: 30rem;
    }
}

.container-image .resume {
    width: 380px;
}

.container-image .resume h3 {
    font-size: 14px;
    color: $primary-blue;
    font-weight: 400;
    margin-bottom: 5px;
}

.container-image .resume h4 {
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
}

.container-image .resume .resume-location {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 10px;
}

.container-image .resume .resume-location h4 {
    margin-left: 8px;
}

.container-hero .container-footer {
    padding-top: 8rem;
    margin-right: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hero .container-footer button {
    background: none;
    border: 0;

    position: relative;

    font-size: 16px;
    font-weight: 500;

    transition: all 500ms ease-in-out;
    cursor: pointer;
  }
  
.container-hero .container-footer button:after {  
    content: '';
    
    transition: inherit;
    
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 1.5px solid $primary-blue;
    
    position: absolute;
    top: -45%;
    left: -10px;
    
    opacity: 0.3;
    z-index: -1;
  }
  
  .container-hero .container-footer button:hover:after {
    width: calc(100% + 20px);
    border-radius: 18px;
    opacity: 0.6;
    background: $primary-blue;
  }

// --- BG HERO --- //

.relative {
    position: relative;
}

.bg-hero {
    position: absolute;
    top: -10rem;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    opacity: 70%;
}

// --- SELECTED WORKS --- //

.bb-gray{
    width: 100%;
    border-bottom: 1px solid $medium-gray;
}

.works .selected-works {
    display: flex;
    padding: 4.5rem 5rem;
}

.works .selected-works img {
    width: 1.3rem;
    padding-right: 1rem;

}

.work-item{
    max-width: 120rem;
    margin: 0 auto;
    padding: 7rem 4rem;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    a{
        text-decoration: none;

        &:hover{
            & + .work-image{
                transform: translate(-50%, -50%) translate3d(0,0,0);
                opacity: 1;
            }
        }
    }

    h3 {
        font-size: 2.3rem;
        padding: .5rem;


        &:hover {
            color: $primary-blue;
            transition: .3s ease-in;
        }
    }

    h5 {
        font-size: 1.5rem;
    }
}

.works .work-image{
    max-width: 30rem;
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 30%;

    transition: .5s ease;
    z-index: -1;

    opacity: 0;

    transform: translate(-50%, -50%) translate3d(-1000px,0,0) skewX(30deg);
}

.works .work-image1 {
    left: 27%;
}

.works .work-image2 {
    left: 50%;
}

.works .work-image3 {
    left: 40%
}

// --- GET IN TOUCH ---
.get-in {
    padding: 14rem 5rem;
}

.get-in .get-in-touch .container-get-in {
    padding: 0 10rem;
}

.get-in .get-in-touch {
    display: flex;
}

.get-in .get-in-touch img {
    width: 1.3rem;
    padding-right: 1rem;
}

.get-in .container-get-in {
    padding: 5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-in .social-medias {
    h5 {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 4rem;
    }
}

.get-in .social-medias a{
    padding-right: 2.5rem;

    svg { 
        height: 30px
    }
}

.get-in .social-medias a svg:hover {
    path {
        stroke: $primary-blue;
        transition: ease-in .2s;
    }
}

.container-get-in .email {
        a {
            font-size: 2rem;
            padding-right: 5rem;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                color: $primary-blue;
            }
        }

        h5 {
            font-size: 1.5rem;
            font-weight: 300;
            padding-bottom: 3rem;
        }
}

// --- ANIMATIONS ----

#bg-heroline1{
    //stroke-dasharray: 100 100 !important;
    animation: linha1 4s linear infinite alternate;
}

#bg-heroline2 {
    stroke-dasharray: 50 100 !important;
    animation: linha2 1s ease infinite alternate;
}

#bg-heroline3 {
     stroke-dasharray: 10 100 !important;
    animation: linha3 2s ease infinite alternate;
}

@keyframes linha1{
    0%{
        stroke-dasharray: 0 100;
    }
    100%{
        stroke-dasharray: 1000 0;
    }
}

@keyframes linha2{
    0%{
        stroke-dasharray: 0 100;
    }
    100%{
        stroke-dasharray: 100 0;
    }
}

@keyframes linha3{
    0%{
        stroke-dasharray: 0 100;
    }
    100%{
        stroke-dasharray: 100 0;
    }
}




// --------- MEDIA QUERIES ---
@media (max-width: 1000px) {
    .container-content {
        width: 85vw;
    }
}

@media screen and (max-width: 700px){    
    .container-content {
        height: auto;
        flex-direction: column;
    }

    .container-content .container-image {
        margin-top: 5rem;
    }

    .container .container-footer {
        margin: 0 auto;
      }

    .container-content .container-presentation h1 {
        font-size: 5rem;
        margin: 1rem 0;
    }

    .container-content .container-presentation .h2-line1 {
        padding-left: 7rem;
    }

    .container-content .container-presentation .h2-line2 {
        padding-left: 12rem;
    }

    .svg-hero {
        transform: scale(2) rotate(25deg);
    }
}

@media screen and (max-width: 600px) {
    header .logo img {
        display: none;
    } 

    header nav {
        position: sticky;
        top: 0;
        height: 20rem;
        width: 100%;

        background: black;
    }

    .work-image {
        max-width: 20rem;
    }

    .works .work-image1, .works .work-image2, .works .work-image3  {
        left: 50%;
    }

    .works h2,
    .get-in-touch h2 {
        font-size: 2.5rem
    }

    .container-get-in {
        flex-direction: column;
        padding: 20rem;

        .social-medias {
            padding-bottom: 5rem;

            h5 {
                padding-bottom: 1.8rem
            }
        }

        .email{
            h5 {
                padding-bottom: 0.5rem
            }
        }
    }
}