//  Menu estilization
header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
}

// Container
.container-content {
    width: 70vw;
    margin: 0 auto;

    padding: 2rem 1rem;
    display: flex;

    justify-content: center;
    align-items: center;
}

.container-content .container-presentation h1 {
    font-weight: 500;
    font-size: 5.7rem;

    margin: 10px 0 10px 30px;
}

.container-content .container-presentation h2,
.container-content .container-presentation h3 {
    color: $primary-blue;
    font-size: 2.4rem;
}

.container-content .container-presentation h2 {
    line-height: 35px;

}

.container-content .container-presentation .h2-line1 {
    padding-left: 10rem;
}

.container-content .container-presentation .h2-line2 {
    padding-left: 22rem;
}

.container-image img {
    max-width: 75%;
}

.container-content .container-item:nth-child(1) {
    flex-grow: 40;
}

.container-content .container-item:nth-child(2) {
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    img {
        max-width: 30rem;
    }
}

.container-image .resume {
    width: 380px;
}

.container-image .resume h3 {
    font-size: 14px;
    color: $primary-blue;
    font-weight: 400;
    margin-bottom: 5px;
}

.container-image .resume h4 {
    font-size: 16px;
    font-weight: 300;
    margin-left: 20px;
}

.container-image .resume .resume-location {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 10px;
}

.container-image .resume .resume-location h4 {
    margin-left: 8px;
}

.container .container-footer {
    padding-top: 8rem;
    margin-right: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container .container-footer button {
    background: none;
    border: 0;

    position: relative;

    font-size: 16px;
    font-weight: 500;

    transition: all 500ms ease-in-out;
    cursor: pointer;
  }
  
.container .container-footer button:after {  
    content: '';
    
    transition: inherit;
    
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 1.5px solid $primary-blue;
    
    position: absolute;
    top: -45%;
    left: -10px;
    
    opacity: 0.3;
    z-index: -1;
  }
  
  .container .container-footer button:hover:after {
    width: calc(100% + 20px);
    border-radius: 18px;
    opacity: 0.6;
    background: $primary-blue;
  }

.relative {
    position: relative;
}

.bg-hero {
    position: absolute;
    top: -10rem;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    opacity: 70%;
}

// --------- MEDIA QUERIES
@media screen and (max-width: 600px){
    .container {
        height: auto;
    }

    .svg-hero {
        transform: scale(2) rotate(25deg);    }
    
}


