* {
    font-size: 62.5%; /* 10px */
    color: white;
}

h1, h3, h4, h5, h6, p, a, button {
    font-family: 'Barlow', sans-serif;
}

// MENU STYLIZATION

nav a {
    text-decoration: none;
    font-size: 1.5rem;

    padding: 2rem;
    position: relative;

    &:hover {
        color: $primary-blue;
        transition: ease.5s;
    }
}

// GENERAL TEXT STYLIZATION
h1 {
    font-size: 6rem;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

.mask{

    background: linear-gradient(225deg, #2DC7ED 0%, #538BF0 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.square{

    display: inline-block;
    margin-top: 64px;

    font-size: 24px;

    padding: 16px 24px;

    position: relative;

    &::after{
        content: '';
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 96px;
        height: 96px;

        transform: translate(5%, -15%) rotate(60deg);

        background: linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0) 100%);

        border-radius: 4px;
        transition: .5s ease;

    }

    &:hover{
        &::after{
            transform: translate(5%, -15%) rotate(225deg);
    
        }
    
    }
}

@media screen and (max-width: 600px) {
    
    h1 {
        font-size: 4.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    h4 {
        font-size: 1.4rem;
    }

}