@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: box-border;
}

@import 'sass/colors';
@import 'sass/typography';

body {
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 600px) {
    .left-navbar, .right-navbar {
        display: none;
    }

}

@import 'sass/spacing';
@import 'sass/layout';